### Java ###
*.class
*.jar
*.war
*.ear
*.nar

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

### Gradle ###
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar

### IDE ###
.idea/
*.iws
*.iml
*.ipr
.vscode/
.classpath
.project
.settings/
*.swp
*.swo

### Spring Boot ###
!**/src/main/**/build/
!**/src/test/**/build/

### Logs ###
logs/
*.log

### Application Properties ###
**/application*.properties
**/application*.yml
**/application*.yaml

### Environment Specific Files ###
**/application-*.properties
**/application-*.yml
**/application-*.yaml

### Docker ###
**/docker-compose*.yml

### Database ###
*.db
*.sql
*.h2.db

### System ###
.DS_Store
Thumbs.db