<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Вход</title>
</head>
<body>
<h2>Вход</h2>
<form th:action="@{/}" method="post">
    <div>
        <label>Имя пользователя:</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label>Пароль:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <button type="submit">Войти</button>
    </div>
</form>

<p>Нет аккаунта? <a th:href="@{/register}">Зарегистрироваться</a></p>
</body>
</html>
