<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Отчеты - Водоканал</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container mt-4">

<h3>Выбор квитанций</h3>
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">1. Печать квартирного сектора</a>
    <a href="#" class="list-group-item list-group-item-action">2. Печать частного сектора</a>
    <a href="#" class="list-group-item list-group-item-action">3. Печать водомеров</a>
</div>

</body>
</html>
