<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Субсидии - Водоканал</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/subsidy.css">
</head>
<body class="d-flex flex-column vh-100">

<!-- Навигационное меню -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">💧 Водоканал - Субсидии</a>

        <!-- Бургер для мобильных -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Меню">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Ссылки меню -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Главная</a></li>
            </ul>
            <!-- Кнопки справа -->
            <div class="d-flex">
                <a class="btn btn-outline-light btn-sm me-2" href="/profile">Профиль</a>
                <a class="btn btn-danger btn-sm" href="/logout">Выход</a>
            </div>
        </div>
    </div>


</nav>

<!-- Установка периода -->

<!-- Установка периода -->
<div class="bg-light border-bottom p-2">
    <div class="d-flex align-items-center">
        <label class="me-2">Установка периода:</label>

        <!-- Месяц -->
        <select id="monthSelect" class="form-select w-auto me-2">
            <option value="1">Январь</option>
            <option value="2">Февраль</option>
            <option value="3">Март</option>
            <option value="4">Апрель</option>
            <option value="5">Май</option>
            <option value="6">Июнь</option>
            <option value="7">Июль</option>
            <option value="8">Август</option>
            <option value="9">Сентябрь</option>
            <option value="10">Октябрь</option>
            <option value="11">Ноябрь</option>
            <option value="12">Декабрь</option>
        </select>

        <!-- Год -->
        <select id="yearSelect" class="form-select w-auto">
            <option value="2024">2024</option>
            <option value="2025">2025</option>
            <option value="2026">2026</option>
            <option value="2027">2027</option>
            <option value="2028">2028</option>
            <option value="2029">2029</option>
            <option value="2030">2030</option>

        </select>
    </div>
</div>

<!-- Основное рабочее окно -->
<div class="d-flex flex-grow-1">
    <!-- Левое меню -->
    <div class="sidebar bg-light border-end p-2">
        <div class="p-3 border-bottom">
            <h5 class="fw-bold text-primary mb-0"><i class="fa-solid fa-droplet"></i> Водоканал</h5>
        </div>
        <ul class="nav flex-column mt-2">
            <li class="nav-item">
                <a class="nav-link d-flex align-items-center py-2 px-3 text-secondary" href="/clients">
                    <i class="fa-solid fa-users me-2 text-primary"></i> Клиенты Бишкек
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-flex align-items-center py-2 px-3 text-secondary" href="/stations">
                    <i class="fa-solid fa-water me-2 text-info"></i> Станции
                </a>
            </li>
            <li class="nav-item mt-2 border-top pt-2 text-muted small px-3">Финансы</li>
            <li class="nav-item">
                <a class="nav-link d-flex align-items-center py-2 px-3 text-secondary" href="/saldo">
                    <i class="fa-solid fa-scale-balanced me-2 text-success"></i> Сальдо
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-flex align-items-center py-2 px-3 text-secondary" href="/pay">
                    <i class="fa-solid fa-credit-card me-2 text-success"></i> Оплаты
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-flex align-items-center py-2 px-3 text-secondary" href="/subsidy">
                    <i class="fa-solid fa-hand-holding-dollar me-2 text-warning"></i> Субсидии
                </a>
            </li>

            <li class="nav-item mt-2 border-top pt-2 text-muted small px-3">Учёт</li>
            <li class="nav-item">
                <a class="nav-link d-flex align-items-center py-2 px-3 text-secondary" href="/indications">
                    <i class="fa-solid fa-gauge me-2 text-danger"></i> Показания
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-flex align-items-center py-2 px-3 text-secondary" href="/print/select">
                    <i class="fa-solid fa-file-lines me-2 text-primary"></i> Отчёты
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-flex align-items-center py-2 px-3 text-secondary" href="/events">
                    <i class="fa-solid fa-bell me-2 text-secondary"></i> События
                </a>
            </li>
        </ul>
    </div>

    <!-- Таблица -->
    <div class="flex-grow-1 p-2">
        <table id = "clientsTab" class="table table-sm table-hover table-bordered align-middle mb-0">
            <thead class="table-light text-center">
            <tr>
                <th>#</th>
                <th>Клиент</th>
                <th>ЛC</th>
                <th>Адрес</th>
                <th>Месяц</th>
                <th>Год</th>
                <th>Оплата</th>
                <th>Дата оплаты</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="pay, iterStat : ${subsidys}"
                th:classappend="${pay.clientTypeId} == 2 or ${pay.clientTypeId} == '2' ? 'table-private' : ''">
                <td th:text="${iterStat.index + 1}"></td>
                <td th:text="${pay.clientName}"></td>
                <td th:text="${pay.persAcc}"></td>

                <!-- Условие для адреса -->
                <td th:text="${pay.clientTypeId == 1 ? pay.addressHo : pay.addressPop}"></td>
                <td th:text="${pay.monthId}"></td>
                <td th:text="${pay.yearId}"></td>
                <td th:text="${pay.amount}"></td>
                <td th:text="${pay.datePayd}"></td>
            </tr>
            </tbody>

            <tfoot>
            <tr>
                <td colspan="6" class="text-end">Итого:</td>
                <td th:text="${totalAmount}"></td>
                <td></td>
            </tr>
            </tfoot>
        </table>
    </div>

</div>

<!-- Модальное окно ввода Субсидий -->
<div class="modal fade" id="addSub" tabindex="-1" role="dialog" aria-labelledby="PayClientLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content shadow-lg border-0">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="PayClientLabelSub">Ввод субсидий</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Закрыть">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form id="payFormSub" class="row g-3" >
                    <!-- Лицевой счёт -->
                    <div class="col-md-4">
                        <label for="persAcc" class="form-label">Лицевой счёт</label>
                        <input type="text" class="form-control" id="persAcc" readonly>
                    </div>

                    <!-- ФИО -->
                    <div class="col-md-8">
                        <label for="clName" class="form-label">ФИО</label>
                        <input type="text" class="form-control" id="clName" readonly>
                    </div>

                    <!-- Адрес -->
                    <div class="col-12">
                        <label for="address" class="form-label">Адрес</label>
                        <input type="text" class="form-control" id="address" readonly>
                    </div>

                    <!-- Оплата -->
                    <div class="col-md-4">
                        <label for="clInd" class="form-label">Субсидии</label>
                        <input type="number" class="form-control" id="clInd" min="0" step="0.01" placeholder="Введите сумму">
                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="submitIndBtn">Принять оплату</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>

        </div>
    </div>
</div>


<!-- Нижний протокол -->
<div class="bottom-panel">
    <strong>Протокол событий:</strong>
    <ul>
        <li>[12:15] Сформировано сальдо за Август 2025</li>
        <li>[12:20] Пользователь удалил начисления клиента</li>
    </ul>
</div>

<!-- Модальное окно для отчётов -->
<div class="modal fade" id="reportsModal" tabindex="-1" aria-labelledby="reportsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content border border-primary shadow-lg">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="reportsModalLabel">Выбор отчета (общие отчеты)</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body bg-light">
                <div class="d-grid gap-2">
                    <button class="btn btn-outline-primary">Дислокация домов</button>
                    <button class="btn btn-outline-primary">Оборотные ведомости</button>
                    <button class="btn btn-outline-primary">Поступление платежей</button>
                    <a class="btn btn-outline-primary" th:href="@{/print/select}">Печать квитанций</a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Выход</button>
            </div>
        </div>
    </div>
</div>
<!-- Модальное окно импорта -->
<div class="modal fade" id="importModal" tabindex="-1" aria-labelledby="importModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content border border-primary shadow-lg">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="importModalLabel">Импорт оплат</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <form id="uploadForm" enctype="multipart/form-data">
                    <input type="file" name="file" id="fileInput" accept=".xlsx,.xls" class="form-control mb-3"/>
                    <button type="button" class="btn btn-success w-100" onclick="uploadFile()">Загрузить</button>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/subsidy.js"></script>
</body>
</html>
